# ===== Node / npm =====
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json.bak

# ===== Angular =====
.angular/
dist/
.sass-cache/
.claude/

# ===== Env files =====
.env
.env.local
.env.*.local

# ===== .NET build artifacts =====
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== IDEs =====
.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
**/appsettings.Development.json
**/appsettings.*.json
!**/appsettings.json


# ===== System files =====
.DS_Store
Thumbs.db
